.container {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.column {
    border: 1px solid black;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
}

.column:hover{
    background-color: beige;
}

.results{
    display:flex;
    justify-content: space-between;
}